<!-- chat-layout.html -->
{% extends 'base.html' %}

{% block layout %}
<div class="h-screen bg-white">
    <div class="flex h-full">
        <!-- Sidebar -->
        <div class="w-56 border-r">
            {% include 'chat/chat-inbox-sidebar.html' %}
        </div>

        <!-- Main Chat Area -->
        <div class="flex-1 flex flex-col">
            {% block chat_content %}
            <!-- Chat content will be injected here -->
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}