{% extends 'layouts/chat-layout.html' %}

{% block chat_content %}
<!-- Chat Header -->
<div class="border-b border-gray-200 bg-white p-3">
    <div class="flex items-center space-x-3">
        {% if other_user %}
        <!-- Private Chat Header -->
        <div class="relative">
            <img class="w-8 h-8 object-cover rounded-full" src="{{ other_user.profile.avatar }}">
            <div class="absolute bottom-0 right-0 w-2 h-2 bg-green-400 rounded-full border border-white"></div>
        </div>
        <div class="flex-1 min-w-0">
            <h1 class="text-sm font-medium text-gray-800 truncate">{{ other_user.profile.name }}</h1>
            <!-- <p class="text-xs text-gray-500 truncate">@{{ other_user.profile.username }}</p> -->
        </div>
        {% else %}
        <!-- Public Chat Header -->
        <div class="flex items-center space-x-2 relative">
            <div class="flex-1 min-w-0">
                <h1 class="text-sm font-medium text-gray-800">Public Chat</h1>
                <div class="flex items-center gap-1">
                    <span class="text-xs text-gray-500" id="online-count">0 </span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Chat Messages -->
<div id="chat_container" class="flex-1 overflow-y-auto bg-white">
    <ul id="chat_messages" class="p-3 space-y-2">
        {% for message in chat_messages reversed %}
        {% include 'chat/chat_message.html' %}
        {% endfor %}
    </ul>
</div>

<!-- Message Input -->
<div class="border-t border-gray-200 bg-white p-3">
    <form id="chat_message_form" method="post" class="w-full" hx-ext="ws" ws-connect="/ws/chatroom/{{ chatroom_name }}/"
        ws-send="this.value" _="on htmx:wsAfterSend reset() me">
        {% csrf_token %}
        {{ form.body }}
    </form>
</div>

<script>
    const form = document.getElementById('chat_message_form');
    form.addEventListener('keydown', function (e) {
        if (e.key === 'Enter' && !e.shiftKey) {
            e.preventDefault();
            this.requestSubmit();
        }
    });

    function scrollToBottom() {
        const chatContainer = document.getElementById('chat_container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }
    scrollToBottom();
</script>
{% endblock %}